@use "../abstracts/variables"as*;

.otp {
    width: 100%;
    background-color: $color-white;
    clip-path: $clip-path-100;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
    border-radius: $default-border-radius;

    position: relative;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        &-text-1 {
            font-size: 2.4rem;
            font-weight: 700;
            font-family: Vazir_Bold;
            color: $color-secondary;
        }

        &-text-2 {
            font-size: $default-font-size;
            font-family: Vazir_Bold;
            color: $color-gray;

        }

        &-text-mobile {
            font-size: 1.4rem;
            font-family: Vazir_Bold;
            color: $color-gray;
            text-align: center;

        }

        &-text-edit {
            padding-right: .6rem;
            font-size: 1.4rem;
            font-family: Vazir_Bold;
            color: $color-primary;
            text-decoration: none;


        }
    }

    &__logo svg {
        height: 8rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;


        &-code {
            display: flex;
            gap: 1rem;
            width: 100%;
            max-width: 38rem;
        }

    }

    &__form input {
        text-align: center;
    }

}